html {
  // font-size: 10px;
  // background: url(https://images.unsplash.com/photo-1647788738100-e138bf960f30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80) bottom center;
  // background-size: cover;
}

// .card a {
//   text-decoration: none;
//   color: black;
// }

.drumkit {
  background: url(https://images.unsplash.com/photo-1647788738100-e138bf960f30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80) bottom center;
  width: 75vw;
  height: 75vh;
  background-size: cover;
  top: 0;
}
.darken-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.60);
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.3);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.key kbd {
  display: block;
  font-size: 2rem;
  background-color: transparent;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
